html,body
{
margin:0;
}

main
{
    width: 95%;
    margin:auto;
}
header
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#logo
{
    width: 15%;
    height: auto;
}
nav
{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 60%;
}
nav > ul
{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly
}
nav>ul>li 
{
    list-style-type: none;
    
}

a
{
    text-decoration: none;
    color: black;
}

header a:hover
{
    border-top:2px #0065fc solid;
    padding:15px;
}
header a:active
{
    border-top:#0065fc;
}

form > button
{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
    border-color: #0065fc;
    background-color: #0065fc;
    padding: 5px;
    color: white;
    margin-left: -4px;
}

form > input
{
    border: 1px gray solid;
    padding: 6px ;
    margin-right: 0px;
    border-right: none;
    margin-left: -4px;
    
}

form > i
{
    height: 16px;
    border: 1px gray solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: gray;
    padding: 7px;
    padding-top: 5px;
    margin-left: 5px;
}
.Filtre
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
}
.Filtre > ul
{
display: flex;
flex-wrap: wrap;
justify-content: space-between;

}
.Filtre li
{
    list-style-type: none;
    border: 1px #f2f2f2 solid;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 25px;
    margin-left: 20px;
}

.Filtre > ul > li > i
{
    font-weight: bold;
    font-size: large;
    padding: 12px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 25px;
    margin-right: 15px;
    margin-left: -18px;
}

.Filtre p
{
    width: 100%;
    
}
.Filtre p i
{
    margin: 10px;
    color: #0065fc;
    border:1px gray solid;
    background-color: white;
    border-radius: 25px;
    padding:6px 8px;
}

#Hebergement
{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-start;
   
}
#Nliste a
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#Nliste 
{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 65%;
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#Pliste
{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#Nliste > .loc 
{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    margin-left: 20px;
    margin-right:20px;
    justify-content: space-evenly;
    border:4px white solid;
    border-radius: 15px;
    background-color: white;
}

#Pliste > .Poploc
{
    display: flex;
    flex-wrap: wrap;
    border:4px white solid;
    border-radius: 15px;
    background-color: white;
    margin:10px;
}

#Pliste > .Poploc a
{
flex-basis: 30%;
flex-grow: 1;
}
#Pliste figcaption
{
    flex-grow: 1;
}

#Nliste img
{
    display: flex;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#Pliste img
{
    width: 150px;
    height: 100%;
    object-fit: cover;
}

#loisir 
{
    display: flex;
    background-color: grey;
}


#loisir .visite
{   display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
    background-color: rgb(29, 24, 56);
    
}

#loisir .visite figure
{
    
    display: flex;
    flex-wrap: wrap;
    background-color: greenyellow;
    flex-basis: 100%;
    margin: 5%;
}

#loisir img
{
    display: flex;
    flex-basis: 25%;
   
}
.Poploc  i
{
    color: #0065fc;
}

.loc  i
{
    color: #0065fc;
}

#Nliste > figure:nth-of-type(2n+1) > figcaption > a > p > i:last-child
{
    color:#DEEBFF;
}

#Nliste > figure:nth-of-type(4) > figcaption > a > p > i:nth-of-type(1n+4)
{
    color:#DEEBFF;
}

#Pliste > figure:nth-of-type(1n+2) > figcaption > a > p > i:last-child
{
    color:#DEEBFF;
}

footer
{
    
    margin: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
   
}

[class*="Footer"]
{
    flex-grow: 1;
}

footer > [class*="Footer"] > ul > li
{
    list-style-type: none;
}


Footer h3
{
    margin-left: 40px;
}

.loc > a
{
    color: black;
}

.Poploc > a
{
    color: black;
}