html,body /*Je supprime les marges automatique */
{
margin:0;
}
/*J'utilise 95% de la page et je centre le main*/
main
{
    width: 95%;
    margin:auto;
}
/*Header en flex, retour a la ligne pour le responsive,supprime le strech axe secondaire et espacé sur axe pricinpale */
header
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/*taille du logo */
#logo
{
    width: 15%;
    height: auto;
}
/*ma nav prend 60 % de mon header ou va à la ligne( flex parent)
,les enfants vont à la ligne si besoin */
nav
{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 60%;
}
/*ul en ligne et prend la place maximale accordé tout en ayant le meme espace avant apres et entre chaques enfants*/
nav > ul
{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly
}
/*cache les puces*/
nav>ul>li 
{
    list-style-type: none;
}
/*supprime le soulignement des ancres sur tout mon code*/
a
{
    text-decoration: none;   
}
/*affiche une bordure au passage de la souris */
header a:hover
{
    border-top:2px #0065fc solid;
    padding:15px;
}
/*Affiche la bordure quand le lien est activé */
header a:active
{
    border-top:#0065fc;
}
/*Mon bouton de recherche dans form */
form > button
{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
    border-color: #0065fc;
    background-color: #0065fc;
    padding: 5px;
    color: white;
    margin-left: -4px;
}
/*mon champ de recherche */
form > input
{
    border: 1px gray solid;
    padding: 6px ;
    margin-right: 0px;
    border-right: none;
    margin-left: -4px;
}
/*Mon icone localisation */
form > i
{
    height: 16px;
    border: 1px gray solid;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: gray;
    padding: 7px;
    padding-top: 5px;
    margin-left: 5px;
}
/*ma classe filtre et la suppression du strech axe secondaire */
.Filtre
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/*ma liste a puce en ligne */
.Filtre > ul
{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
/*bordure des élement de ma liste */
.Filtre li
{
    list-style-type: none;
    border: 1px #f2f2f2 solid;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 25px;
    margin-left: 20px;
}
/*les icone et leur placements*/
.Filtre > ul > li > i
{
    font-weight: bold;
    font-size: large;
    padding: 12px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 25px;
    margin-right: 15px;
    margin-left: -18px;
}
/*petit paragraphe 100% pour un retour a la ligne */
.Filtre p
{
    width: 100%;
}

.Filtre p i
{
    margin: 10px;
    color: #0065fc;
    border:1px gray solid;
    background-color: white;
    border-radius: 25px;
    padding:6px 8px;
}
/*Hebergement en ligne et wrap, supprime le stretch et espaceNliste et pliste */
#Hebergement
{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-start;
}
/*taille de Nliste, arrondi de bordure... */
#Nliste 
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 69%;
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*taille de base , utilise espace max, bordure ... */
#Nliste > .loc 
{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 20%;
    flex-grow: 1;
    justify-content: space-between;
    border:3px white solid;
    border-radius: 15px;
    background-color: white;
    margin: 20px 20px;  
}


#Nliste a 
{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

#Nliste figcaption
{
    display:flex;
    flex-grow: 1;
    margin: 0;
}
#Nliste figcaption *
{
    margin:3px;
}

#Pliste
{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#Pliste > .Poploc
{
    display: flex;
    flex-wrap: wrap;
    border:3px white solid;
    border-radius: 15px;
    background-color: white;
    margin:10px 10px;
    
}

#moreH
{
    margin-bottom: 18px;
}

#Pliste > .Poploc a
{
flex-basis: 30%;
flex-grow: 1;

}
#Pliste figcaption
{
    flex-grow: 1;
}

#Nliste img
{
    display: flex;
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-top-left-radius:15px ;
    border-top-right-radius: 15px;
}

#Pliste img
{
    width: 100%;
    height: 150px;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

#loisir 
{
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    justify-content: space-between;
    
}



.P1{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 24%;
    align-items: flex-start;
    background-color: rgb(29, 24, 56);
    border-radius: 15px;
}
.P1 figure{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: crimson;
    margin: 10px 0px;
}

.P1 img
{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius:15px ;
    border-top-right-radius: 15px;
    margin: 0;
}
.P1 a:first-child
{
    height: 400px;
}

.P1 figure figcaption
{
    display: flex;
    flex-grow: 1;
    width: 30px;
    height: 50px;
    background-color: white;
    align-items: flex-start;
    border-bottom-left-radius:15px ;
    border-bottom-right-radius: 15px;
}

.P2{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 24%;
    align-items: flex-start;
    background-color: rgb(29, 24, 56);
    border-radius: 15px;
    justify-content: space-between;
}
.P2 .P2_1
{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: crimson;
    margin: 10px 0px;
    max-height: 400px;
}

.P2_1 a:nth-child(1)

{
    display:flex;
   height: 200px;
}
.P2 .P2_1 img
{
    object-fit: cover;
    width: 100%;
    border-top-left-radius:15px ;
    border-top-right-radius: 15px;
}

.P2 .P2_1 figcaption
{
    display: flex;
    flex-grow: 1;
    height: 50px;
    background-color: white;
    align-items: flex-start;
    border-bottom-left-radius:15px;
    border-bottom-right-radius: 15px;
}
.P2 .P2_2
{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: crimson;
    margin: 10px 0px;
    max-height: 200px;
}

.P2 .P2_2 img
{
    object-fit: cover;
    width: 100%;
    border-top-left-radius:15px ;
    border-top-right-radius: 15px;
}

.P2 .P2_2 figcaption
{
    display: flex;
    flex-grow: 1;
    height: 50px;
    background-color: white;
    align-items: flex-start;
    border-bottom-left-radius:15px;
    border-bottom-right-radius: 15px;
}
.P2_2 a:nth-child(1)

{
    display:flex;
    height: 100px;
}

.P3{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 24%;
    align-items: flex-start;
    background-color: rgb(29, 24, 56);
    border-radius: 15px;
    height: 500px;
}
.P3 figure{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: crimson;
    margin: 10px 0px;
}
.P3 img
{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius:15px ;
    border-top-right-radius: 15px;
    margin: 0;
}

.P3 a:first-child
{
    height: 400px;
}

.P3 figure figcaption
{
    display: flex;
    flex-grow: 1;
    width: 30px;
    height: 50px;
    background-color: white;
    border-bottom-left-radius:15px ;
    border-bottom-right-radius: 15px;
}
.P4{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 24%;
    align-items:flex-start;
    background-color: rgb(29, 24, 56);
    border-radius: 15px;
    height: 500px;
}
.P4 .P4_1
{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: crimson;
    margin: 10px 0px;
    max-height: 300px;
}

.P4_1 a:nth-child(1)

{
    width: 100%;
    max-height: 150px;
}
.P4 .P4_1 img
{
    object-fit: cover;
    width: 100%;
    border-top-left-radius:15px ;
    border-top-right-radius: 15px;
}

.P4 .P4_1 figcaption
{
    display: flex;
    flex-grow: 1;
    height: 50px;
    background-color: white;
    align-items: flex-start;
    border-bottom-left-radius:15px;
    border-bottom-right-radius: 15px;
}
.P4 .P4_2
{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: crimson;
    margin: 10px 0px;
    max-height: 300px;
}

.P4 .P4_2 img
{
    object-fit: cover;
    width: 100%;
    border-top-left-radius:15px ;
    border-top-right-radius: 15px;
}

.P4 .P4_2 figcaption
{
    display: flex;
    flex-grow: 1;
    height: 50px;
    background-color: white;
    align-items: flex-start;
    border-bottom-left-radius:15px;
    border-bottom-right-radius: 15px;
}
.P4_2 a:nth-child(1)

{
   
    width: 100%;
    max-height: 150px;
    overflow: hidden;
}

#loisir .visite figure figcaption h3
{
    margin-left:10px;
}

.Poploc  i
{
    color: #0065fc;
}

.loc  i
{
    color: #0065fc;
}

#Nliste > figure:nth-of-type(2n+1) > figcaption > a > p > i:last-child
{
    color:#DEEBFF;
}

#Nliste > figure:nth-of-type(4) > figcaption > a > p > i:nth-of-type(1n+4)
{
    color:#DEEBFF;
}

#Pliste > figure:nth-of-type(1n+2) > figcaption > a > p > i:last-child
{
    color:#DEEBFF;
}

footer
{
    
    margin: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
   
}

[class*="Footer"]
{
    flex-grow: 1;
}

footer > [class*="Footer"] > ul > li
{
    list-style-type: none;
}


Footer h3
{
    margin-left: 40px;
}

.loc > a
{
    color: black;
}

.Poploc > a
{
    color: black;
}




